@import './variables.less';

.movies__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem 10px;
    margin: auto;

    @media (max-width: @desktop) {
        grid-template-columns: repeat(4, 1fr);
    }

    @media (max-width: @tablet) {
        grid-template-columns: repeat(2, 1fr);

        .movies {
            img {
                width: 20rem !important;
                height: 25rem !important;
            }
        }

    }

    @media (max-width: @mobile) {
        grid-template-columns: repeat(1, 1fr);
    }

    .movies {
        display: flex;
        padding: 10px 5px;
        justify-content: center;

        img {
            width: 15rem;
            height: 20rem;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
                box-shadow: @boxShadow;
            }
        }
    }

    .loading {

        display: block;
        font-family: @joan;
        font-size: 35px;
        color: white;
        text-align: center;
        grid-column-start: 3;

        p {
            margin: 10px;
        }

        img {
            border-radius: 40%;
        }

        button {
            font-size: 18px;
            border-radius: 5px;
            color: white;
            background-color: @searchColor;
            border: 1px solid black;
            font-family: @buttonFont;
            padding: 10px 1rem;

            &:hover {
                cursor: pointer;
                background-color: #963131;
                color: #c4c4c4;
            }
        }
    }
}

.notFound {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 35px;
    font-family: @joan;

}