.movies__container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 2rem 10px;
    margin: auto;

    .movies {
        margin: 10px 5px;

        img {
            width: 15rem;
            height: 20rem;
            transition: transform 0.5s;

            &:hover {
                transform: scale(1.05);
                cursor: pointer;
                box-shadow: 5px 5px 40px -2px black;
            }
        }
    }

    .loading {
        border-radius: 50%;
        grid-column-start: 3;
    }
}

.notFound {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 30px;
}