.movies__container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 2rem 10px;
  margin: auto;
}
@media (max-width: 1200px) {
  .movies__container {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (max-width: 768px) {
  .movies__container {
    grid-template-columns: repeat(2, 1fr);
  }
  .movies__container .movies img {
    width: 20rem !important;
    height: 25rem !important;
  }
}
@media (max-width: 550px) {
  .movies__container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.movies__container .movies {
  display: flex;
  padding: 10px 5px;
  justify-content: center;
}
.movies__container .movies img {
  width: 15rem;
  height: 20rem;
  transition: transform 0.5s;
}
.movies__container .movies img:hover {
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 5px 5px 40px -2px black;
}
.movies__container .loading {
  display: block;
  font-family: 'Joan', serif;
  font-size: 35px;
  color: white;
  text-align: center;
  grid-column-start: 3;
}
.movies__container .loading p {
  margin: 10px;
}
.movies__container .loading img {
  border-radius: 40%;
}
.movies__container .loading button {
  font-size: 18px;
  border-radius: 5px;
  color: white;
  background-color: #d85353;
  border: 1px solid black;
  font-family: 'Quattrocento', serif;
  padding: 10px 1rem;
}
.movies__container .loading button:hover {
  cursor: pointer;
  background-color: #963131;
  color: #c4c4c4;
}
.notFound {
  display: flex;
  justify-content: center;
  color: white;
  font-size: 35px;
  font-family: 'Joan', serif;
}
